
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 5px 20px;
  position: relative;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-width: 70px;
  height: auto;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  z-index: 1000;
  margin-left: auto;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: #ffc107;
}


.btn {
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  color: #333;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffa000;
}

.btn:active {
  background-color: #ff8f00;
}
.popup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(252, 249, 249, 0.993);
  text-align: left;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
form {
  margin: 0;
  padding: 0;
}

label {
  margin-left: 0px;
  display: block;
}

input, select {
  margin-bottom: 10px;
}

.blur-background {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px); /* Adjust for navbar height */
  overflow: hidden;
  background-color: #f0f0f0; /* Fallback background color */
  z-index: 1; /* Ensure the background is below the navbar */
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-blur-img {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #1d1b1b;
    margin: 80px;
  
}
.image-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.heading {
  position: absolute;
  top:-50px;
  /* left: 20px; */
  color: #0c0b0b;
  z-index: 10;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}
.subtitle {
  position: absolute;
  bottom: -3px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(209, 160, 0); 
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 1; 
}
.non-blur-img-2{

 width: 200px;
    height: 200px;
    object-fit: cover;
    /* border-radius: 20px; */
    border: 3px solid #1d1b1b;
    margin: 80px;
}

.footer-container {
  background-color: #706464;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.logo {
  width: 150px;
  height: auto;
}

.footer-center {
  /* flex-grow: 1; */
  margin-left: 5px;
  margin-top: 1px;
}

.footer-description {
  color: #ca980d;
  margin-top: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.footer-left {
  margin-right: 30px;
}

.tag {
  display: inline-block;
  background-color: #ddcece;
  color: #4d4646;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.copyright-container {
  background-color: #866d08;
  text-align: center;
  padding: 10px 0;
}

.copyright-text {
  color: #000000;
  font-weight: bold;
}